@import "./variables.css";

body {
    font-family: var(--font);
    margin: 0px;
    width: 100%;
    min-height: 100vh;
}

.section_div {
    padding: 1rem;

    h1,
    h3 {
        margin-block: 0.2rem;
    }

    li {
        padding-block: 0.5rem;
    }

    ul {
        padding-left: 5vw;
    }

    a {
        color: var(--secondary_color);
    }

}

#contact_container {
    li {
        padding-block: 10px;
    }
}

a {
    text-decoration: none;
    color: var(--text_color);
    overflow-wrap: break-word;
}

#platform_name {
    color: var(--secondary_color);
}

#page {
    width: 100%;
    min-height: 100vh;
    background: var(--page_bg);
    color: var(--text_color);
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10rem;

    h1,
    h3 {
        margin: 0px;
    }

}

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pfp_container {
    display: flex;
    border-radius: 50%;
    align-items: center;
    overflow: hidden;
}

#pfp {
    width: 20vw;
    aspect-ratio: 1;
}

#resume_btn_link button {
    background: var(--secondary_color);
    border: none;
    padding: 20px;
    border-radius: 10px;
    color: var(--text_color);
}

#name_separator {
    color: var(--secondary_color);
}

/*Mobile changes*/
@media (max-width: 425px) {

    #header {
        flex-direction: column;
    }

    #pfp {
        width: 70vw;
    }
}
